.App {
  padding: 15px;
}
input.error {
  border: 1px solid red !important;  
}
label {
  width: 100% !important;
  display: block;
}
table {
  margin: 30px 0;
  border-collapse: collapse;
  border-spacing: 0;
}
table th, 
table td {
  border: 1px solid grey;
}